<a href="https://colab.research.google.com/github/joaovgr/Aulas_Pablo_Progama-FPB/blob/main/aula7phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lista 
nomes = ['zé', 'tião', 'joaquin']
nomes.append('julias')
print(nomes)

# Vários valores
outrosnomes = ['Ana', 'zabé', 'Maria']
nomes.extend(outrosnomes)
print(nomes)


# Criar uma lista de números e
thauan = [1,2,3,4,5,6,7,8,9]
# Remova o 1 número da lista
thauan.remove(thauan[0])
# Remova o último elemento da lista
thauan.pop()
print(thauan)

['zé', 'tião', 'joaquin', 'julias']
['zé', 'tião', 'joaquin', 'julias', 'Ana', 'zabé', 'Maria']
[2, 3, 4, 5, 6, 7, 8]

In [ ]:
# crie uma lista de notas , e exiba-a da menor para maior

notas = [2,3,5,6,9,10,7,6,]
nomes = ['ademar','maristênio', 'thauan', 'thallys']
notas.sort()
nomes.sort(reverse=True)
print(notas)
print(nomes)

[2, 3, 5, 6, 6, 7, 9, 10]
['thauan', 'thallys', 'maristênio', 'ademar']

In [ ]:
# Exemplos da função map - criar uma nova lisa com o dobro

numeros = [1,2,3,]
nova_lista = list(map(lambda x : x*2, numeros))
print(nova_lista)

[2, 4, 6]

In [ ]:
# Pegar o números lá em cima e divir pro três!

numdiv = list(map(lambda x : round(x/3 ,2), numeros))

print(numdiv)

[0.33, 0.67, 1.0]

In [ ]:
# pegar cada número e somar a 2

numsoma = list(map(lambda x : x+2, numeros))
print(numsoma)

[3, 4, 5]

In [ ]:
# Exemplos de funçaõ filter -a partir de uma lista de nomes,

nomes  = ['josé', 'matheus', 'joaquin','joão', 'thauan']
nova_lista = list(filter(lambda x : len(x)>5, nomes))
print(nova_lista)
print()
print(nomes)

['matheus', 'joaquin', 'thauan']

['josé', 'matheus', 'joaquin', 'joão', 'thauan']

In [ ]:
# crie uma lista de notas, e imprima apenas as notas maiores de 6

notas  = [10,3,5,9,8,4,8,4,6,]
nota = list(filter(lambda x : x > 6, notas))
print(notas)
print()
print(nota)

[10, 3, 5, 9, 8, 4, 8, 4, 6]

[10, 9, 8, 8]

In [ ]:
#faça uma lista que retorne todos os quadrados do número

num = [2,3,6,9]
num2 = list(map(lambda x : x * x,num))
print(num2)

[4, 9, 36, 81]

In [ ]:
# Faça uma lista de nome que retorne o tamanho de cada nome

nome = ['thauan','thallys', 'josé','zezin']
nome2 = list(map(lambda x : len(x), nome))
print(nome2)

[6, 7, 4, 5]

In [ ]:
# Faça uma lista onde só retorno os números pares

num = [2,3,6,5,10,45,9,80]
num2 = list(filter(lambda x :x % 2 == 0, num))
print(num2)

[2, 6, 10, 80]

In [ ]:
# Faça uma lista que retorne número que contenham a letra a

nomes = ['Zezin', 'João', 'osana', 'josefa', 'Gomes']
nomes2 = list(filter(lambda x : 'a' in x , nomes))
print(nomes2)

['osana', 'josefa']

In [ ]:
# faça uma lista de notas e retorne apenas os aprovados( notas mariores ou iguais a 7.0)

notas = [2,3,6,7,8,9,10,6,8,9,7]
notas2 = list(filter(lambda x : x >= 7, notas))
print(notas2)

[7, 8, 9, 10, 8, 9, 7]